.dailylog-container {
  margin: auto;
  margin-left: 250px;
  height: fit-content;
  display: flex;
}

.dailylog-meals {
  background-color: white;
  width: 450px;
  height: 400px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.dailylog-routines {
  background-color: white;
  width: 450px;
  height: 350px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 35px;
}

.dailylog-chart {
  background-color: white;
  margin-left: 35px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 1000px;
}

.dailylog-list-display-format {
  background-color: white;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 400px;
  margin-left: 25px;
  margin-top: 10px;
}

.dailylog-data button {
  background-color: #0099ff;
  border-radius: 5px;
  border-color: transparent;
  color: white;
  cursor: pointer;
  width: 300px;
  height: 35px;
  margin-left: 70px;
  margin-top: 15px;
}

.dailylog-recipelist {
  height: 310px;
  overflow-y: auto;
}

.dailylog-routinelist {
  height: 260px;
  overflow-y: auto;
}

.dailylog-responsivechart {
  margin-top: 50px;
  width: 100%;
}

.dailylog-chart h3 {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 25px;
}

.dailylog-listbuttonlogo button {
  width: 100px;
  height: 30px;
  margin-right: 15px;
}

.dailylog-listbuttonlogo {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1400px) {
  .dailylog-container {
    margin: auto;
    margin-left: 245px;
    height: fit-content;
    display: flex;
  }

  .dailylog-meals {
    width: 300px;
    height: 400px;
  }

  .dailylog-routines {
    width: 300px;
    height: 350px;
  }

  .dailylog-chart {
    margin-left: 35px;
    width: 720px;
  }

  .dailylog-data button {
    width: 280px;
    height: 35px;
    margin-left: 10px;
    margin-top: 20px;
  }

  .dailylog-list-display-format {
    width: 250px;
    margin-left: 25px;
    margin-top: 10px;
  }

  .dailylog-listbuttonlogo button {
    width: 75px;
    height: 30px;
    margin-right: 15px;
    margin-bottom: 5px;
  }
}
